stages:
  - test

variables:
  CHECKMARX_DOCKER_IMAGE: "cx-flow"
  CHECKMARX_URL: "https://checkmarx.internal.example"   # <-- your on-prem URL
  CHECKMARX_VERSION: "9.7"                               # <-- match your CxSAST version
  CX_TEAM: "/CxServer/SP/Company"
  CX_PROJECT: "$CI_PROJECT_NAME-$CI_COMMIT_REF_NAME"
  CX_FLOW_ENABLED_VULNERABILITY_SCANNERS: "sast"
  CX_FLOW_BREAK_BUILD: "false"
  PARAMS: ""

checkmarx-scan:
  stage: test
  tags:
    - mariner                     # <-- must match an available runner tag
  image:
    name: checkmarx/${CHECKMARX_DOCKER_IMAGE}
    entrypoint: [""]
  script:
    - java -jar /app/cx-flow.jar \
      --scan \
      --app="$CI_PROJECT_NAME" \
      --namespace="$CI_PROJECT_NAMESPACE" \
      --repo-name="$CI_PROJECT_NAME" \
      --repo-url="$CI_REPOSITORY_URL" \
      --cx-team="$CX_TEAM" \
      --cx-project="$CX_PROJECT" \
      --branch="$CI_COMMIT_BRANCH" \
      --spring.profiles.active="$CX_FLOW_ENABLED_VULNERABILITY_SCANNERS" \
      --f=. $PARAMS
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'